@font-face {
    font-family: "Perfect DOS VGA";
    src: url(../fontes/Perfect\ DOS\ VGA\ 437.ttf);
}

@font-face {
    font-family: "Digitalix";
    src: url(../fontes/digitalix.ttf);
}

:root {
    --main-color1: #215488;
    --main-color2: #002553;
    --main-color3: #d7d7d7;
    --fonte-padrao: "Perfect DOS VGA", Helvetica, sans-serif;
    --fonte-extra: "Digitalix", Helvetica, sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background: #d3dae1;
    margin: 0;
    min-height: 100%;
}

main {
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: 50% auto;
    gap: 20px;
    max-width: 1100px;
    height: 88vh;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 4px 4px 8px -9px var(--main-color1);
}

article {
    z-index: 1;
}

.main-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #b9c1c5eb, #c0d4e5c2), url(../imgs/fundo.jpg);
    filter: blur(2px);
}

article {
    border-right: 2px solid var(--main-color1);
    padding: 10px;
    padding-bottom: 0;
    display: grid;
    grid-template-rows: min-content auto;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 80%;
}

.logo.container {
    display: flex;
    justify-content: center;
}

#status {
    margin-bottom: 20px;
}

.level-info {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 20px;
    color: #144983;
    padding: 5px 5px;
    font-family: var(--fonte-extra);
}

.xp-container {
    border: 2px solid var(--main-color1);
    box-shadow: inset 0px 0px 10px -2px var(--main-color1);
    background: #96bce1;
    width: 100%;
    height: 20px;
    border-radius: 5px;
    overflow: hidden;
}

#xp-bar {
    position: relative;
    border-radius: 0 5px 5px 0;
    height: 100%;
    width: 0%;
    z-index: 1;
    box-shadow: inset 0px 0px 15px 5px #002553;
    background: var(--main-color1);
    transition: width 0.3s ease-in-out;
}

.content-container {
    display: flex;
    flex-direction: column;
    gap: 11px;
    overflow: auto;
    z-index: 1;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea, .btn-padrao {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 2px solid var(--main-color1);
}

.btn-padrao {
    background-color: var(--main-color1);
    color: white;
    border: none;
    cursor: pointer;
    font-family: var(--fonte-padrao);
}

.btn-padrao:hover {
    background-color: #217088;
}

.task {
    display: flex;
    background: #e9ecef;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    border: 2px solid var(--main-color1);
    justify-content: space-between;
    align-items: center;
}

.task-info {
    display: grid;
    grid-template-columns: 45px auto;
    gap: 5px;
    align-items: center;
}

.task-icon {
    width: 30px;
    transform: rotate(-45deg);
}

.done .task-icon.hidden {
    transform: rotate(0);
    margin-right: -30px;
}

.done .task-icon {
    transform: rotate(270deg);
}

.task-text {
    font-family: var(--fonte-extra);
}

.btn-task {
    --webkit-appearance: none;
    cursor: pointer;
    user-select: none;
}

#tasks-container {
    overflow: auto;
    max-height: 100%;
    min-height: 50px;
    border: 2px solid var(--main-color1);
    border-width: 0;
    padding: 0 0 8px;
}

#tasks-container:has(.task) {
    border-width: 2px 0 2px;
}

.task.done {
    background-color: #d4e6ed;
}

.task.done .task-text {
    text-decoration: line-through;
}

.task-desc {
    font-family: var(--fonte-padrao);
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: var(--main-color1);
    color: white;
    font-size: 15px;
    height: 20px;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1144px) {
    main {
        margin: 0;
        height: 93vh;
    }
}

@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
    }

    .logo img {
        width: 60%;
    }

    article {
        border-right: none;
        border-bottom: 2px solid var(--main-color1);
    }

    .content-container {
        padding-bottom: 20px;
    }
}
