* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f2f2f2;
    margin: 0;
    min-height: 100%;
}

main {
    display: grid;
    grid-template-columns: 50% auto;
    gap: 20px;
    max-width: 1100px;
    min-height: 500px;
    margin: auto;
    margin-top: 20px;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

article {
    border-right: 1px solid #1c1f38;
    display: grid;
    grid-template-rows: auto 40px;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 70%;
}

.logo.container {
    display: flex;
    justify-content: center;
}

#status {
    margin-bottom: 20px;
  }

.xp-container {
    background: #333;
    width: 100%;
    height: 20px;
    border-radius: 5px;
    overflow: hidden;
}

#xp-bar {
    height: 100%;
    width: 0%;
    background: limegreen;
    transition: width 0.3s ease-in-out;
}
  

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea, button {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    background-color: #215488;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #217088;
}

.task {
    background: #e9ecef;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    position: relative;
}

#tasks-container {
    overflow: auto;
    max-height: 320px;
}

.task.done {
    text-decoration: line-through;
    background-color: #d4e6ed;
}

.task-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
}

.task-buttons button {
    margin-left: 5px;
    background: transparent;
    border: none;
    cursor: pointer;
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #215488;
    color: white;
    font-size: 15px;
    height: 20px;
    align-items: center;
    justify-content: center;
}
